.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.todos-main-container {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.my-todos-heading {
	color: rgb(85, 81, 81);
}

.add-todo-input {
	width: 300px;
	outline: none;
	padding: 10px;
	border-radius: 5px;
	border: 2px solid grey;
	font-size: 15px;
	margin-right: 15px;
}

.add-todo-button {
	outline: none;
	font-size: 15px;
	background-color: darkslateblue;
	color: white;
	border-radius: 5px;
	padding: 11px;
	border: none;
	cursor: pointer;
}

.ul-ele {
	padding: 0px;
}
